{% if hidden | default(false) %}
    <div class="hexagon hidden"></div>
{% else %}
    <a href="{{ admin_path('map', 'areaMap', {x: cell.x, y: cell.y, id: map.world.id}) }}"
       class="hexagon" style="background-color:{{ cell.color }}"></a>
{% endif %}